<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Our Federal{% endblock %}</title>
  {% load staticfiles %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width = device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"  href="{% static 'federal/style.css' %}" />
  <link href='https://fonts.googleapis.com/css?family=Satisfy'
  rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 
  <style>

body{
  background-color: green;
}

.navbar {
    border-radius: 0;
    border-style: none;
}

.navbar {
    background: rgba(225, 225, 225, 0.9)
}

.navbar-default .navbar-brand {
    color: green;
}

.navbar-brand {
  color:green;
}

.thread-post{
    background-color: white;
}

.badge-info{
    background-color:orange;
}

.comment_thread{
   background: whitesmoke;
   padding : 10px;

}

.reply_thread{
    background: whitesmoke;
    padding : 10px;
}

</style>


</head>

<body>
        <nav class ="navbar navbar-default navbar-fixed-top" role="navigation">

                    <div class="#">
                      {% block home %}
                       <a class="navbar-brand" href="{% url 'federal:home' %}">Our Federal</a>
                        {% endblock %}

                        <div style="text-align:right;padding-right:15px;">
                          <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-list" style="color:green;font-size:1.3em;"><span>
                              </a>
                              <ul class="dropdown-menu">
                                {% block signout %}
                                 <li><a href = "{% url 'federal:profile' %}"><span style="color:black;">Profile</span></a></li>
                                 <li><a href = "{% url 'federal:favorites' %}"><span style="color:black;">Favorites</span></a></li>
                                 <li><a href = "{% url 'federal:about' %}"><span style="color:black;">About</span></a></li>
                                 <li><a href = "{% url 'federal:feedback' %}"><span style="color:black;">Feedback</span></a></li>
                                 <li><a href = "{% url 'federal:logout' %}"><span style="color:black;">Signout</span></a></li>
                                 {% endblock %}
                              </ul>
                            </li>
                          </ul>
                        </div>

                      </div>
            </nav><br /><br /><br /><br />
            {% block body %}
            {% endblock %}

            {% block javascript %}{% endblock %}
</body>
</html>
