{% if is_logged_in %}
{% extends 'federal/base.html'  %}

{% block javascript %}
  <script>
    $(".favorited").click(function () {

      var $this = $(this);
      var thread_id = $this.data('id');

      $.ajax({
        url: '/thefederal/ajax/t_unfavorited/',
        data: {
          'thread_id': thread_id
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_unfavorited) {
            alert("Oops favorite could not be unset")
          }else{

            var favorite = $this.parent().find('.favorite-count');
                var count = favorite.text();
                favorite.fadeOut().text(data.counter).fadeIn();
                $this.parent().find('.hidden').removeClass('hidden');
                $this.addClass('hidden')
          }
        },

        error : function(data) {
           alert("A bug appeared.");
           console.log(); // provide a bit more info about the error to the console
       }

      });

    });


    $(".unfavorited").click(function () {

      var $this = $(this);
      var thread_id = $this.data('id');


      $.ajax({
        url: '/thefederal/ajax/t_favorited/',
        data: {
          'thread_id': thread_id
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_favorited) {
            var favorite = $this.parent().find('.favorite-count');
                var count = favorite.text();
                favorite.fadeOut().text(data.counter).fadeIn();
                $this.parent().find('.hidden').removeClass('hidden');
                $this.addClass('hidden')

          }else{
            alert("Oops favorite could not be set")
          }
        },

        error : function(data) {
           alert("A bug appeared.");
           console.log(); // provide a bit more info about the error to the console
       }

      });

    });
  </script>
{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
      <p style="text-align:center;font-size:1.5em;color:white;">Democracy</p>

      <div class="panel panel-default">
          <div class="panel-body">

  {% if account %}
 <p><img src="{{ account.display_pic.url }}" height="200px" width="250px"></p><br />
 <p style="color:green;font-size:.9em;">{{ account.firstname|escape }} {{ account.lastname|escape }}</p>

{% if my_position %}
<p style="color:green;font-size:.9em;">{{ my_position.position|escape }}</p>
{% endif %}





<form class="form-inline" action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% include 'federal/form-template.html' %}
  <div class="form-group">
        <button type="submit" class="btn btn-success">update</button>
    </div>
</form><br /><br />

  </div></div>
  {% if content_cache %}

<ul>
    {% for context in content_cache %}
    <div class="panel panel-default">
        <div class="panel-body">

      <p style="color:green;font-size:.9em;"><img src="{{ context.display_pic.url }}" alt="Profile picture" height="50px" width="50px">
        {{ context.firstname|escape }} {{ context.lastname|escape }} </p>
      <p style="color:green;font-size:.9em;">{{ context.position|escape }}</p>
      <p style="color:grey;font-size:.9em;"> {{ context.date|escape }} </p>

      {% if context.is_long %}
       <p>{{ context.thread_post|safe|truncatewords:"50"|linebreaks|escape }}</p>
       <a href="{% url 'federal:comment' context.id %}">read more</a>
     {% else %}
       <p>{{ context.thread_post|safe|linebreaks|escape }}</p><hr />
     {% endif %}

     {% if context.thread_media %}
      {% for media in context.thread_media %}

        {% if media.image|length > 1 %}
        <p><img src="{{ media.image.url }}" alt="image" height="200px" width="250px"></p><br />
        {% elif media.audio|length > 1 %}
        <p><audio width = "200" height = "100" controls>
          <source src = "{{ media.audio.url|escape }}" type="audio/ogg">
          <source src = "{{ media.audio.url|escape }}" type="audio/mpeg">
          <source src = "{{ media.audio.url|escape }}"type="audio/wav">
            Sorry your browser does not support the audio element
        <audio></p><br />
        {% elif media.video|length > 1 %}
        <p><video width="500" height="260" preload controls>
          <source src="{{ media.video.url|escape }}" type="video/mp4; "/>
          <source src="{{ media.video.url|escape }}" type="video/ogg; "/>
          <source src="{{ media.video.url|escape }}" type="video/webm "/>
            Sorry your browser does not support the video tag yet
       </video></p><br />
        {% else %}
          <p>Oops something happened, media could not be loaded</p>
        {% endif %}

      {% endfor %}
    {% endif %}


      <p>
         {% if context.if_favorited %}
         <a href="#" class='favorited' data-id="{{ context.id|escape }}" ><span style="color:orange;" class="glyphicon glyphicon-star" ></span></a>
         <a href="#" class='unfavorited hidden' data-id="{{ context.id|escape }}" ><span style="color:orange;" class="glyphicon glyphicon-star-empty" ></span></a>
         {% else %}
         <a href="#" class='unfavorited' data-id="{{ context.id|escape }}" ><span style="color:orange;" class="glyphicon glyphicon-star-empty"></span></a>
         <a href="#" class='favorited hidden' data-id="{{ context.id|escape }}" ><span style="color:orange;" class="glyphicon glyphicon-star"></span></a>
         {% endif %}
         <span class="badge badge-info favorite-count">{{ context.favorite_count|escape }}</span>

          <a href="{% url 'federal:comment' context.id %}">comment</a>
            <a href="#">share</a></p><hr />

    </div>
  </div>
  {% endfor %}
</ul>
{% else %}
    <h3>You don't have any New threads </h3>
  </div></div></div>
{% endif %}
{% endif %}

{% endblock %}
{% else %}
<p style="color:red;font-size:1.5em;">You must login to access this page</p>
{% endif %}
